/* General */

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
    font-family:"Archivo Black", 'Times New Roman';
    margin: 0;
    padding: 0;
    background: #c13d60;
}

header {
    background-color:  #ffcccb;
    text-align: center;
    padding: 1.3rem 0;  
}

#home p{
    display: flex;
    text-align: right;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

/* Hover Effect */
.nav-links a:hover {
    color: #c13d60;
}

section {
    padding: 2rem;
    text-align: center;
    align-items: center;
}

.dog.img {
    float: right;
    width: 25%;  
    height: auto;  
    display: block;
    margin: 0;
    padding: 10px;              
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    margin-right: 220px;
    margin: -20px 0 150px 0;
    position: relative;
    top: -20px; /* Moves the image up*/
   } 


.pos_cen {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 20%;
    text-align: left;
    flex: 1;
    width: 70%;
    margin-right: 20px;
} 

#home p {
    text-align: left;
}

h2 {
    font-size: 2.1rem;
}

p {
    text-align: auto;
    position: relative;
    top: 90px; 
}

/* .dog.img:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
} */

/* use this for menu hover  */

section h2 {
    text-align: center;
}

.cupcake {
    text-align: center;
    margin: 2rem 0; */
} 

.cupcake img {
    width: 200px;
    height: auto;
}

footer {
    background-color: #ffcccb;
    text-align: center;
    padding: 1rem 0;
}


/* check this  */

